html,body{
    height:100%;
    width:100%;
    overflow:hidden;
    margin:0;
    padding:0;
    font-family: "Montserrat", sans-serif;
  }
  
  #viewport{
    height:100%;
    width:100%;
    background-color:black;
    margin:0;
    padding:0;
    overflow:hidden;
    -webkit-perspective-origin:50% 50%;
    -moz-perspective-origin:50% 50%;
    -o-perspective-origin:50% 50%;
    -ms-perspective-origin:50% 50%;
    perspective-origin:50% 50%;
    -webkit-transform-style:preserve-3d;
    -moz-transform-style:preserve-3d;
    -o-transform-style:preserve-3d;
    -ms-transform-style:preserve-3d;
    transform-style:preserve-3d;
    -webkit-perspective:700px;
    -moz-perspective:700px;
    -o-perspective:700px;
    -ms-perspective:700px;
    perspective:700px;
  }
  
  .room{
    height:100%;
    width:100%;
    margin:0;
    padding:0;
    -webkit-transform-style:preserve-3d;
    -moz-transform-style:preserve-3d;
    -o-transform-style:preserve-3d;
    -ms-transform-style:preserve-3d;
    transform-style:preserve-3d;
  }
  .room .wall{
      position:absolute;
      height:100%;
    width:100%;
    -webkit-transform-style:preserve-3d;
    -moz-transform-style:preserve-3d;
    -o-transform-style:preserve-3d;
    -ms-transform-style:preserve-3d;
    transform-style:preserve-3d;
  }
  .room .wall:nth-child(1){
    bottom:0;
    background-color:#b8c0c3;
    
    background-size:100% 100%;
    
    -webkit-transform-origin:50% 100%;
    -moz-transform-origin:50% 100%;
    -o-transform-origin:50% 100%;
    -ms-transform-origin:50% 100%;
    transform-origin:50% 100%;
    -webkit-transform:rotateX(90deg);
    -moz-transform:rotateX(90deg);
    -o-transform:rotateX(90deg);
    -ms-transform:rotateX(90deg);
    transform:rotateX(90deg);
  }
  .room .wall:nth-child(2){
    top:0;
    background-color:black;
    
    background-repeat:repeat;
    background-size:10% auto;

    -webkit-transform-origin:50% 0;
    -moz-transform-origin:50% 0;
    -o-transform-origin:50% 0;
    -ms-transform-origin:50% 0;
    transform-origin:50% 0;
    -webkit-transform:rotateX(-90deg);
    -moz-transform:rotateX(-90deg);
    -o-transform:rotateX(-90deg);
    -ms-transform:rotateX(-90deg);
    transform:rotateX(-90deg);
  }
  .room .wall:nth-child(3){
    left:0;
    background-color:#2E3D50;
    
    background-size:auto 30%;
    background-repeat:repeat;
   
    -webkit-transform-origin:0 50%;
    -moz-transform-origin:0 50%;
    -o-transform-origin:0 50%;
    -ms-transform-origin:0 50%;
    transform-origin:0 50%;
    -webkit-transform:rotateY(90deg);
    -moz-transform:rotateY(90deg);
    -o-transform:rotateY(90deg);
    -ms-transform:rotateY(90deg);
    transform:rotateY(90deg);
  }
  .room .wall:nth-child(4){
    right:0;
    background-color:#FFF9F0;
    
    background-size:auto 35%;
    background-repeat:repeat;

    -webkit-transform-origin:100% 50%;
    -moz-transform-origin:100% 50%;
    -o-transform-origin:100% 50%;
    -ms-transform-origin:100% 50%;
    transform-origin:100% 50%;
    -webkit-transform:rotateY(-90deg);
    -moz-transform:rotateY(-90deg);
    -o-transform:rotateY(-90deg);
    -ms-transform:rotateY(-90deg);
    transform:rotateY(-90deg);
  }
  .room .wall:nth-child(5){
    top:0;
    background-color:#8894A2;
    
    background-repeat:repeat;
    background-size:100% auto;

    -webkit-transform-origin:50% 50%;
    -moz-transform-origin:50% 50%;
    -o-transform-origin:50% 50%;
    -ms-transform-origin:50% 50%;
    transform-origin:50% 50%;
  }
  .room .wall:nth-child(6){
    top:0;
    background-color:transparent;
    -webkit-transform-origin:50% 50%;
    -moz-transform-origin:50% 50%;
    -o-transform-origin:50% 50%;
    -ms-transform-origin:50% 50%;
    transform-origin:50% 50%;
    -webkit-transform-style:preserve-3d;
    -moz-transform-style:preserve-3d;
    -o-transform-style:preserve-3d;
    -ms-transform-style:preserve-3d;
    transform-style:preserve-3d;
    -webkit-transform:translateZ(0);
    -moz-transform:translateZ(0);
    -o-transform:translateZ(0);
    -ms-transform:translateZ(0);
    transform:translateZ(0);
  }

  .circle-btn {
    display: inline-block;
    width: 50px; /* Adjust the size of the button as needed */
    height: 50px; /* Adjust the size of the button as needed */
    border-radius: 50%; /* Ensures the button appears as a circle */
    background-color: #007bff; /* Change the background color as desired */
    color: #fff; /* Change the text color as desired */
    font-size: 16px; /* Adjust the font size as needed */
    text-align: center;
    line-height: 50px; /* Should be equal to height for centering text */
    text-decoration: none; /* Remove underline from text */
  }
  .text{
    margin-top: 32%;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: justify;
    font-size: 20px;
    font-weight: 700;
  }
  .text3{
    margin-top: 5px;
    margin-bottom: 20px;
    margin-left: 70%;
   margin-right: 10px;
    font-weight: 700;
    font-size: 23px;
    text-align: right;
  }
  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* This is optional, it centers vertically */
}


.custom-button {
    padding: 10px 20px;
    
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* This is optional, it centers vertically */
}

/* Styling the button */
.custom-button {
    padding: 10px 20px;
    
    color: #8894A2;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 40px;
    margin-bottom: 5%;
  }
  .custom-button:hover {
    color:#eca4ae;  
  }
  .change {
  
    color: #C4762B; 
    font-weight: 600;
    font-size: 40px;
    
  }
  .normal{
    color: #dd9ba4;  
    font-size: 30px;
  }

  .clickable-text {
    color: #8894A2;
    font-size: 40px;
    cursor: pointer; 
    text-decoration: none;
  }
  .clickable-text:hover {
    color: #eca4ae;  
  }
  .clickable-text2 {
    color: #8894A2;
    font-size: 40px;
    cursor: pointer; 
    text-decoration: none;
    margin-bottom: 5%;
  }
  .clickable-text2:hover {
    color: #eca4ae;  
  }
  .change2 {
  
    color: #8a3742; 
    font-weight: 600;
    font-size: 40px;
    
  }
  .change3 {
    
    color:  #a9525d;  
    font-weight: 600;
    font-size: 40px;
    
  }
  
  .change4 {
    
    color: #c67580;  
    font-weight: 600;
    font-size: 40px;
    
  }
  .change5 {
    
    color:#f8cdd3;  
    font-weight: 600;
    font-size: 40px;
    
  }
  @media only screen and (max-width: 1024px) {

    .text{
      margin-top: 74%;
      margin-bottom: 20px;
      margin-left: 20px;
      margin-right: 20px;
      text-align: justify;
      font-size: 12px;
      font-weight: 700;
      text-align: justify;
    }
    .text3{
        margin-top: 30%;
        margin-bottom: 20px;
        margin-left: 70%;
       margin-right: 10px;
        font-weight: 700;
        font-size: 12px;
        text-align: right;
      }
    .change {
    
   color:#000000;
  
      font-size: 12px;
      
    }
    .normal{
        color:#000000;
  
      font-size: 12px;
      
      }
      .clickable-text2 {
        color: #8894A2;
        font-size: 40px;
        cursor: pointer; 
        text-decoration: none;
        margin-bottom: 5%;
        text-align: center;
        margin-left: 4%;
      }
      .clickable-text2:hover {
        color: #eca4ae;  
      }
      .change2 {
  
        color:#000000;
  
      font-size: 12px;
      }
      .change3 {
        
        color:#000000;
  
      font-size: 12px;
        
      }
      
      .change4 {
        
        color:#000000;
  
        font-size: 12px;
        
      }
      .change5 {
        
        color:#000000;
  
        font-size: 12px;
        
      }
  }