.image-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 180px; 
  margin-left: 29%; 
  margin-right: 18%;
  cursor:pointer;


}

.image-row {
  display: flex;
}

.image-cell {
  width: 200px;
  height: 200px;
  margin: 2px;
  overflow: hidden;
}

.image-cell img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.title {
  text-align: center;
  margin-bottom: 4%; 
  font-family: amandine, sans-serif;
font-weight: 500;
font-style: italic;
background-color: rgb(0, 0, 0);
color: beige;
font-size: 50px;
}
.box1 {
  position: relative; /* Ensure the pseudo-element is positioned relative to this box */
  width: 200px;
  height: 200px; 
  font-size: 3em;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  background-image: url(algae.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center; 
}


.box1::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black; 
  opacity: 0; 
  transition: opacity 0.3s ease; 
}


.box1:hover::after {
  opacity: 1;
}

.box1 div {
  position: relative; 
  z-index: 1; 
}
/* .box1::after {
  content: ''; 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(algae.jpg); 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0; 
  transition: opacity 0.3s ease; 
  z-index: -1; 
} */

/* .box1:hover::after {
  opacity: 1; 
} */
.box2 {
  position: relative; /* Ensure the pseudo-element is positioned relative to this box */
  width: 200px;
  height: 200px; 
  font-size: 3em;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  background-image: url(Amphibians.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center; 
}


.box2::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black; 
  opacity: 0; 
  transition: opacity 0.3s ease; 
}


.box2:hover::after {
  opacity: 1;
}

.box2 div {
  position: relative; 
  z-index: 1; 
}

.box3 {
  position: relative; /* Ensure the pseudo-element is positioned relative to this box */
  width: 200px;
  height: 200px; 
  font-size: 2em;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  background-image: url(Arthropods.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center; 
}


.box3::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black; 
  opacity: 0; 
  transition: opacity 0.3s ease; 
}


.box3:hover::after {
  opacity: 1;
}

.box3 div {
  position: relative; 
  z-index: 1; 
}


.box4 {
  position: relative; /* Ensure the pseudo-element is positioned relative to this box */
  width: 200px;
  height: 200px; 
  font-size: 5em;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  background-image: url(Birds.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center; 
}


.box4::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black; 
  opacity: 0; 
  transition: opacity 0.3s ease; 
}


.box4:hover::after {
  opacity: 1;
}

.box4 div {
  position: relative; 
  z-index: 1; 
}

.box5 {
  position: relative; /* Ensure the pseudo-element is positioned relative to this box */
  width: 200px;
  height: 200px; 
  font-size: 2em;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  background-image: url(Crustaceans.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center; 
}


.box5::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black; 
  opacity: 0; 
  transition: opacity 0.3s ease; 
}


.box5:hover::after {
  opacity: 1;
}

.box5 div {
  position: relative; 
  z-index: 1; 
}

.box6 {
  position: relative; /* Ensure the pseudo-element is positioned relative to this box */
  width: 200px;
  height: 200px; 
  font-size: 4em;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  background-image: url(Fish.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center; 
}


.box6::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black; 
  opacity: 0; 
  transition: opacity 0.3s ease; 
}


.box6:hover::after {
  opacity: 1;
}

.box6 div {
  position: relative; 
  z-index: 1; 
}


.box7 {
  position: relative; /* Ensure the pseudo-element is positioned relative to this box */
  width: 200px;
  height: 200px; 
  font-size: 4em;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  background-image: url(HumanHealth.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center; 
}


.box7::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;  
  opacity: 0; 
  transition: opacity 0.3s ease; 
}


.box7:hover::after {
  opacity: 1;
}

.box7 div {
  position: relative; 
  z-index: 1; 
}

.box8 {
  position: relative; /* Ensure the pseudo-element is positioned relative to this box */
  width: 200px;
  height: 200px; 
  font-size: 2em;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  background-image: url(Invertebrates.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center; 
}


.box8::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black; 
  opacity: 0; 
  transition: opacity 0.3s ease; 
}


.box8:hover::after {
  opacity: 1;
}

.box8 div {
  position: relative; 
  z-index: 1; 
}

.box9 {
  position: relative; /* Ensure the pseudo-element is positioned relative to this box */
  width: 200px;
  height: 200px; 
  font-size: 3em;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  background-image: url(Mammals.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center; 
}


.box9::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black; 
  opacity: 0; 
  transition: opacity 0.3s ease; 
}


.box9:hover::after {
  opacity: 1;
}

.box9 div {
  position: relative; 
  z-index: 1; 
}



.box10 {
  position: relative; /* Ensure the pseudo-element is positioned relative to this box */
  width: 200px;
  height: 200px; 
  font-size: 2.5em;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  background-image: url(Microorganisms.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center; 
}


.box10::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black; 
  opacity: 0; 
  transition: opacity 0.3s ease; 
}


.box10:hover::after {
  opacity: 1;
}

.box10 div {
  position: relative; 
  z-index: 1; 
}


.box11 {
  position: relative; /* Ensure the pseudo-element is positioned relative to this box */
  width: 200px;
  height: 200px; 
  font-size: 4em;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  background-image: url(water.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center; 
}


.box11::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black; 
  opacity: 0; 
  transition: opacity 0.3s ease; 
}


.box11:hover::after {
  opacity: 1;
}
.box11 div {
  position: relative; 
  z-index: 1; 
}


.box12 {
  position: relative; /* Ensure the pseudo-element is positioned relative to this box */
  width: 200px;
  height: 200px; 
  font-size: 4em;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  background-image: url(Plants.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center; 
}


.box12::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;  
  opacity: 0; 
  transition: opacity 0.3s ease; 
}


.box12:hover::after {
  opacity: 1;
}


.box12 div {
  position: relative; 
  z-index: 1; 
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 2000px; /* Set a maximum width as per your requirement */
  margin: 0 auto; /* Center the container horizontally */
  padding: 0 20px;
}

.card {
  width: 300px;
  height: 400px;
  margin: 10px;
  background-color: black;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.textbox {
  position: relative;
}

.textbox > span {
  position: absolute;
  color: white;
}

.text1 {
  font-size: 11px;
  font-family: Arial, sans-serif;
  top: 5px;
  left: 5px;
}

.text2 {
  font-size: 15px;
  font-family: Arial, sans-serif;
  font-weight: bold;
  top: 5px;
  right: 5px;
}

.text3 {
  font-size: 13px;
  font-family: Arial, sans-serif;
  text-align: center;
  bottom: 10px;
  left: 0;
  right: 0;
}



.chart-grid {
  display: flex;
  flex-direction: column;
  margin-left: 0%;
 
}
.chart-grid2 {
  display: flex;
  flex-direction: column;
  margin-left: 0%;
 
}

.chart-row {
  display: flex;
  margin-top: 20px;
}

.text-column {
  width: 100px; 
  display: flex;
  flex-direction: column;
}

.chart-text {
  margin-bottom: 10px;
}

.chart-column {
  width: 250px; 
  height: 400px; 
  margin-right: 5px;
  border: 1px solid black; 
  background-color: white; 
}



.big-rectangle {
  width: 200px; 
  height: 800px; 
  background-color: lightblue; 
  margin-left: 5px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto 100px; 
  grid-gap: 10px; 
  margin: 20px auto; 
}
.borough {
  padding: 3px;
  text-align: center;
  max-width: fit-content;
  font-family: amandine, sans-serif;
font-weight: 700;
font-style: normal;



}
.boxxx {
  background-image: url('petridish.png'); 
  background-size: contain; 
  background-repeat: no-repeat; 
  background-position: center; 
  
  width: 230px; 
  height: 230px; 
  margin-bottom: 20px;
 
}

.grid-container2 {
  display: grid;
  grid-template-columns: auto 200px; 
  grid-gap: 10px; 
  margin: 20px auto; 
}

body{
  background-color: beige;
}

@media only screen and (max-width: 700px) {
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 2000px; 
    margin: 0 auto; 
    padding: 0 20px;
    display: grid;
    grid-template-columns: 180px 1fr; 
    grid-template-rows: repeat(3, auto); 
    gap: 10px; 
    width: 20%;
  }
  
  .chart-grid {
    display: flex;
    flex-direction: column;
    margin-left: 50%;
    grid-column: 1 / 2;
    grid-row: 2 / 3; 
  }
  
  .chart-grid2 {
    display: flex;
    flex-direction: column;
    margin-left: 0%;
    grid-column: 2 / 3; 
    grid-row: 3 / 4; 
    margin-right: 20%;
  }
  .image-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 180px;
    margin-left: 35%; 
    margin-right: 18%;
    cursor: pointer;
    grid-column: 1 / -1; 
    grid-row: 1 / 2; 
    
  }
  
  }