

body { 
    background: #ffffe0; }

#main-menu .nav-bar { list-style:none; margin-top: 40px; }
#main-menu .nav-bar li { display:inline; padding:0 10px; }

#main-menu .nav-bar li a {
  text-decoration: none;
  padding-left: 25px;
  text-transform: uppercase;
  color: #128A1E;
	text-shadow: 1px 1px 1px #ccc;
}

.bar {
    font-family: sans-serif;
}

.Title-container {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    text-align: center; 
    margin-top: 140px;
}

.Title {
    font-family: "Fraunces", serif;
    font-weight: weight;
    font-style: normal;
    font-size: 90px;
   color: #B0E864;
}

.Subheading {
    font-size: 20px;
}

.OtherText {
    font-size: 18px;
}
