.grid-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100%;
    margin: 0 auto; /* Center the container horizontally */
}

.img {
    width: 45vw;
    height: auto;
    margin: 10px; /* Add margin to create a gap between images */
    padding: 0;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); /* Stronger shadow */
}

a {
    display: block; /* Ensures link appears as a block element */
    text-align: center; /* Centers the link horizontally */
    margin-top: 20px; /* Adds some space between the grid and the link */
}
.title {
    font-family: "the-seasons", sans-serif;
font-weight: 700;
font-style: normal;
font-size: 40px;
}
h3 {
    font-family: "the-seasons", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
}